@charset "utf-8";

body {
  font-size: 18px;
}
input[type="text"] {
  width: 100%;
  height: 25px;
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

li:nth-child(1) {
  margin-top: 20px;
}

li span {
  cursor: pointer;
}

h1 {
  text-align: center;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.done {
  text-decoration: line-through;
}

.purge {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-left: auto;
  padding: 3px;
  background: red;
  border: 1px solid black;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
